<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Admin Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <style>

  </style>
</head>
<body>
<div class="container text-center">
  <div class="container text-center">
    <h1>Raymond and Carl's PRG381 Project</h1>
    <div class="Login">
      <h2>Login</h2>
      <form th:action="@{loginAdmin}" method="get">
        <div class="form-group row">
          <h4>Student ID:</h4>
          <div class="col-8">
            <input class="form-control" type="text" th:field="*{studentId}">
          </div>
        </div>
        <div class="form-group row">
          <h4>Password:</h4>
          <div class="col-8">
            <input class="form-control" type="password" th:field="*{password}">
          </div>
        </div>
        <button class="btn btn-primary" type="submit" th:href="adminPage.html">Login</button>
        <h5><a href="index.html">Back to User Login</a></h5>
      </form>
    </div>
  </div>
</div>
</body>
</html>